
/* footer */
footer{
    color: #ccc;
    background-color:#333333; 
    font-size: 15px;
}
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;
    animation:chartjs-render-animation 0.001s;}
  .maker {
      font-size: 15px;
      width: 37px;
      height: 37px;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 100%;
      margin-right: 10px;
      line-height: 32px !important;
  }
  ul{
     list-style-type: none;
     list-style: none;
  }
  footer.page-footer a{
    color: #cccccc !important;
  }
  footer.page-footer a:hover{
    color: #fff !important;
    text-decoration: none;
  }
  .delius {
      font-family: 'Delius', cursive;
      color: #e6e6e6;
      font-size: 12px;
  }
/* End */