.content #news,#hot{
    margin-top: 7px;
    overflow: hidden;
    background-color: #e7eaeb;
}
.content  .product-type{
    text-align: center;
    margin: 7px 0 0 0;
    font-weight: 300 ;
}
.content  .product-type a{
    color: #000;
    text-decoration: none;
}
.content  .row-product {
    overflow: hidden;
}
.content  .row-product .product{
    width: 23%;
    min-height: 394px;
    margin: 1%;
    float: left;
    padding: 15px 20px;
    font-size: 1em;
    background-color: #fff;
    overflow: hidden;
}
.content  .row-product .product:hover{
    box-shadow: 0 0 13px 1px black;
}
.content  .row-product .product .product-item{
    color: #000;
    display: block;
    text-decoration: none;
}
.content  .row-product .product .product-item .img-product{
    width: 100%;
    max-height: 236px;
    margin-bottom: 7px;
}
.content  .row-product .product .product-item .gia{
    font-weight: bold;
    font-size: 120%;
}
.content  .row-product .product .product-item .gia-goc{
    font-weight: 100;
    text-decoration: line-through;
}
.content  .row-product .product .product-item .phan-tram{
    font-weight: 100;
    margin-left: 7px;
}